@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: "Roboto", sans-serif;
}

body{
  background-color: #121212;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 10px;
  }

  .container{
    display: flex;
    direction: row;
    gap: 7px;
    margin-top: 5vh;
    min-width: 95vw;
  }

  .left-side{
    width: 80vw;
    border-radius: 6px;
    overflow-y: scroll;
  }

  .greenleftbox{
    background: rgb(29,72,53);
    background: linear-gradient(180deg, rgba(29,72,53,1) 0%, rgba(21,52,39,1) 100%);
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .right-side{
    border: 1px solid red;
    width: 25vw;
    border-radius: 6px;
    padding: 10px;
    overflow-y: scroll;
  }

  .upperleftbuttons{
    border: 0px solid;
    border-radius: 50%;
    background-color: #242423;
  }

  .left-buttons-upper{
    display: flex;
    direction: row;
    gap: 5px;
    justify-content: space-between;
    font-size: 18px;
  }

  .faarrow{
    width: 18px;
    padding: 1px;
  }

  .left-buttons-backfoward{
    display: flex;
    gap: 10px;
  }

  .firstgroupicon{
    color: white;
    transition: 0.1s;
  }

  .firstgroupicon:hover{
    font-size: 20px;
  }

  .leftimage{
    height: 220px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
  }

  .leftimage:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

  .left-box-2{
    margin-top: 35px;
    display: flex;
    direction: row;
    gap: 25px;
  }

  .left-box-3{
    background: rgb(15,34,26);
    background: linear-gradient(180deg, rgba(15,34,26,1) 0%, rgba(18,18,18,1) 54%);
    border-top: 0.05px solid #153427;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .songname{
    font-weight: 900;
    font-size: 75px;
    word-spacing: 0px;
  }

  .song-info{
    padding: 0;
    margin: 0;
  }

  .songtextgroup{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
  }
  
  .lb-group1{
    display: flex;
    direction: row;
    gap: 30px;
    margin-left: 25px;
    align-items: center;
  }

  .fa-circle-pause{
    color: #1DB954;
  }

  .fa-shuffle{
    color: #b3b3b3;
  }

  .fa-circle-check{
    color: #1DB954;
  }

  .fa-circle-arrow-down{
    color: #b3b3b3;
  }

  .fa-ellipsis{
    color: #b3b3b3;
  }

  .morebuttonsleft{
    display: flex;
    direction: row;
    gap: 25px;
  }

  .listname{
    color: #b3b3b3;
    transition: all;
  }

  .listname:hover{
    color: white;
    cursor:pointer;
  }

  .fa-list{
    margin-right: 20px;
  }

  .list{
    display:flex;
    direction: row;
    gap: 10px;
    align-items: baseline;
    margin-right: 5px;
  }

  
  
  .left-buttons-playtolist{
    margin-top: 25px;
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .btnheight{
    transition: all .1s ease-in-out;;
  }

  .btnheight:hover{
    color: #1ff50c;
    cursor: pointer;
  }

  .morebtnleft{
    font-size: 35px;
  }

  .btnwhite:hover{
    color: #fff;
    cursor: pointer;
  }

  .fa-circle-pause{
    font-size: 60px;
  }

  .fa-shuffle{
    font-size: 40px;
  }

  #songtable{
    width: 95%;
    border-collapse: collapse;
    color: #b3b3b3;
    margin-left: 18px;
  }

  .infosong{
    border: none;
  }

  .infosong:hover{
    background-color: #7d7d7d;
    cursor: default;
  }

  th{
    height: 25px;
  }

  td{
    height: 55px;
  }

  .table{
    margin-top: 35px;
    margin-left: 33px;
  }

  .titlesong{
    width: 50%;
    margin: 0;
    padding: 0;
  }

  .numberofplays{
    width: 30%;
    text-align: justify;
  }

  .songduration{
    text-align: center;
  }

  .table-words{
    margin: 0;
    color: white;
  }
  
  .smallname{
    font-size: 14px;
    color: #7d7d7d;
  }

  .numbersong{
    padding-left: 15px;
  }

  .copyrights{
    color: #7d7d7d;
    margin: 0;
    padding: 0;
  }

  .supersmallname{
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  .left-box-4{
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .btn-options{
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .seemore{
    font-size: 15px;
    color: #7d7d7d;
  }

  .optionswhite{
    font-size: 25px;
    font-weight: 800;
    color: white;
  }
  
  .bls:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  .card{
    background-color: #181818;
    padding: 15px;
    padding-bottom: 1px;
    border-radius: 8px;
  }
  
  .card:hover{
    background-color: #282828;
    cursor: pointer;
  }

  h5{
    color: white;
  }

  .cards{
    display: flex;
    direction: row;
    justify-content: space-around;
    gap: 10px;
  }

  #sts{
    font-size: 17px;
  }